.App {
  text-align: center;
}

nav {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}

nav li {
  display: inline;
  margin: 0px;
}

nav li:not(:last-child)::after {
  content: " | "
}

table {
  margin: 0 auto;
}
th, td {
  border: 1px solid black;
  padding: 32px;
  text-align: center;
  cursor: pointer;
}

/* Define styles for the puzzle board cell states */
.state-0 {
  background-color: white; /* State 0 background color */
}

.state-1 {
  background-color: rgb(234, 126, 216); /* State 1 background color */
}

.state-2 {
  background-color: rgb(136, 188, 226); /* State 2 background color */
}